<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%p] %m%n" />
		</layout>
	</appender>

	<appender name="RollingFileAppenderR2PerfTest" class="org.apache.log4j.RollingFileAppender">
          <param name="MaxFileSize" value="1000000000"/>
          <param name="MaxBackupIndex" value="1000"/>
          <param name="File" value="../build/r2-perf-test/logs/R2PerfTest_public_access.log" />
          <param name="Append" value="true"/>
          <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} %m%n"/>
	  </layout>
	</appender>

	<logger name="test.r2.perf.R2PerfDriver" additivity="false" >
      <level value="info"/>
      <appender-ref ref="RollingFileAppenderR2PerfTest"/>
   </logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
