.project
.settings
.classpath
*.iml
*.iws
*.ipr
.gradle/
.idea/
build/
*/build/
out/
*/python/bin/
*/python/lib/
*/python/include/
*/bin/
codegen/
*Generated*/
test-output/
examples/*/api/src/main/idl
examples/*/api/src/main/snapshot
