# HELLO WORLD, again, again

language: java
jdk:
  - oraclejdk8

# Anything after trusty doesn't have Java 8
dist: trusty

# Below skips the installation step completely (https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step)
# If we don't skip it Travis runs unnecessary Gradle tasks like './gradlew assemble'
install: true

# Build commits to master, PRs to master, and release tags
script: ./scripts/travis/build.sh
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+(-rc\.\d+)?$/

# Set environment variables (includes JFrog credentials)
env:
  global:
    - secure: "SU1rkhcHEGSLsop3S3D+iq8M1IdVLf5pN5yYfjOUtmOKN9WlOedSIvN25RaLvV+/2M9zY+WMbIG6l0Az6a942LE7OzVGE587BT9OeNq8lj/2W2raIN+Qve/NMaAPcY2v6uoMNnU9nIPWinFBVwOcH1yq8RjoNDvpN0iWIFSL1R1swHjpHYyFiorYbO2aCVbY5T66EA8I++cIUIIgl9fP8Djezxo5YSKINXhak9t4FeX6qgd2+5hejC3lSkPM6uaq51cbUqG6utOJinbdv+XKwbQw3Wza8iYx3rpgRahmJtER/SVtnNkm/jOpNmgKgZkHhpnRLbxSVNFA2xo4cI12ytVmsSQ8n5E88KdiuHZzSUCHI5y2RA0aaR6XBt5ax5T5VzRjLPMIrhcXLkkHAKjg1yi9IBwyXN9DiCulaUcdkU1y/jLtcNq6Jphu4f3salN/PeoNmPE5KrdeJ65y5isdDQdBJLVHwtF2vusRDtLVozdqgj6LxnAsIX5SHIs+WjUNaxAsuNJDd9eaKCCTbkzM/lE3a7C2DldSi+G5d1GfjgwgzCcLv8+f9lN0m2QqHXwIG39AIBrZYp8KV9L9qwv+xjn8RXv4z4GRIj+sudbkDcw/qAdwAB7k7tIShvwzcC3KV7ItBa3IXP/EFWwX5bAHcNQx12K+A/L8iUEUrVIHZdo="
    - secure: "PlapZYd/ywycbXPLCF11RuYjDIg5UZpY/PnHZNofPxTcvMiLJNhNcHSHloP/VVqs6MeuD3Thincboudl35MPI7vhkTOlYKfTc1McUum5OIcyTyayCdJXtbsnokpXEivc9lf51xFC0oa3EKU95FSkn06IHHrDfmf1rb8rPUx8kt4bbMRtdHZT0Fgs9I0V7UvtTQYRJrzTZMQVdgwX/54Qh5ygrXlnUvvpl/sXaztSReuiVFu8T3BhxCz/cL1hj2QvCjBSpkHPb3KQozaKFxNMXLf7b8zoCVODTDyOgnNWSkE7E6wpGdixF5J8apWFs7uZRjzt9d3AuOPgiUDrT431Uwm0Tq2gS5z9t8X8Baz+AKFefZsUGNqELI04VJz5eUpqrltAL5xQtD4LTOEWkwfKYrZ8sLJeKoqFx+J66XiYvCuLc7abuJOG5hM0Un61ZzF48aPCOPLABuWQDlVWQFx7UxaMTGts+cqCFYZu6TRBZfxrxfDD5Am/FQbaygVMjYowh7CMpsHb0EP8OHbprsyKGiaiz5ZJCyAdhokio+HFCOZCe7880Os28DXNJlmUF2cR/MvxWE07S3/FuKU6m1qah981m9qlgqdpBtPBKfKSIVjUhR4iY9eS8LVQffgHGB4lrc+sLz+lPG//aYhZQTLe0aOxoszi4BOhvpBKITM+yv4="

# Publish a new version on tag push
deploy:
  provider: script
  script: scripts/travis/publish-tag.sh
  on:
    tags: true
  # Without this, build artifacts will be cleaned up before deployment
  skip_cleanup: true

# Send email notifications to the user associated with a tag deployment
notifications:
  email:
    if: tag IS present
    on_failure: always
    on_success: always
