language: java
jdk:
  # JDKs will be maintained by jabba so this entry doesn't do anything
  - oraclejdk8

# Anything after trusty doesn't have Java 8
dist: trusty

# Below skips the installation step completely (https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step)
# If we don't skip it Travis runs unnecessary Gradle tasks like './gradlew assemble'
install: true

# Build commits to master, PRs to master, and release tags
script:
  # This variable is used by the build script in order to run tests with Java 11
  - export JAVA11_HOME=$HOME/.jabba/jdk/$JDK11
  - echo "Java 11 version used for tests:"
  - $JAVA11_HOME/bin/java -version
  - echo "Java 8 version used for compilation and tests:"
  - java -version
  - ./scripts/travis/build.sh
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+(-rc\.\d+)?$/

# Set environment variables (includes Bintray credentials)
env:
  global:
    - secure: "nWfVV8tA9njefTyPrQc03XCdE83Ep3XvQYvx+ABmoS9NwUrbHf0koKtchgrmATVELTXCrdmoFSh8CfXdwlYz26XMzho+jdXyLv5aR1SeRHgN+uR+l3MvnNaOm1xQUapXF5E2M0X9dgBfGdiYJBSgpW3iceWKs2Jb0/U7wdVtVbaNX5icLAaegaelzsF54QxI37g9SpImpnMZP0YwrD2Kt+eVwqIlCiBfYvjbxnKd/h+zZCYwH1hdtBG8Ce/e95/CcMg9/YwMWDCLkUBnFHZBiGR5WsN9i6d7lwZ/KjsXlwVSnFFFR98mXuWjCTjgqsbgT5GTKtUHuyoC6gMIAifajr+y7Zhf1f9HTHPNFgxSXDSM/rIIYcx88gwbfCDkV8VPKpojSJZwfO/gunHSS0bEnKBKNyD8sz6ObAjH+TYvYZulOcec59KBhQ1hLMnTlaWumFdxxFWNvp8tcqnYM4UcIZrX/shEYKtkqBvgWXwP80g+u9EyHYW2z682cd8ynRt5xP9X0M5LJTHlfmWb3Hv18sn4vkLBXkpUokzfZzxff/63j+FdYNbG4jsJEeAxqa46NtkZcjIMddfp0GobKMgfj+CfWJoHueYucGPkaD1FQ5r4SrtSgnrShRZjvgF2sbSosbanbrmdAQtYfSqPV/H16iezSUMn9EDSfkuOp/a0maU="
    - secure: "k0njGMbUMDbAmZjp+wWKkQXfENmpLqS86xPP5PRcLty6sG6Y3L9wGy9krGTKuny+vVVxtNmbEweyHLv8k1aoN3fDJc+ixQEHcjYGwdNoJlHaxRax3JDb8yNclzTrArob5gTJGlV3zbbaY+a81qrJ0LAfWNrLQSEgtrrBRh44lQwx3ZZ0g84jGC0m+uHwixI3G2rqERJ+Gkngp0yq+zcERv46k3xAbmh/0vtDlrbgVqVN+FtiAkQjqK3MPSj+zkAQ433D31f1nShPGch8iUFa562ghmnH3HJMSm99aEyo25jVl+vzajxzdp9HBwyT+tbFtQ/Vz36PqwRkEHP4bsa1zTdKHrqIdVWDD2525vruuWz8VavSaxGSlyeTHCKzh+i5zlhQIYc474y1Zr5bDBMWZRHHKKf649dgItWN4u8p+ays0KIuClTXjzrobHEZ2iN7lAa3kT0o4guL2z8wh73GFVdBImXwL8lqadsq54kNu9B6oLYsMnD4K+xpWebel5WvVjklczY5OXIVLPBmal3GGo0/rW0YQzO8tT5D90lO4UJvGyO+fMlOSt8jR0jTk3ox0HT80qWegYv6MvrGG/6L0dO7/GaWYTpj41JvWC/k9A0mUUiUTqEGZzTM8VbDgusUBR5SrEPwm1K5DrLzBoTEqxAS4aHgniFz39tVMMmak2k="
    - GRAVIS_REPO="https://github.com/DanySK/Gravis-CI.git"
    - GRAVIS="$HOME/gravis"
    # Select the versions of Java 8 and Java 11 that is to be used. A list of available versions can be seen with "jabba ls-remote"
    - JDK8="adopt@1.8.0-232"
    - JDK11="adopt@1.11-9"

before_install:
  # Check out the gravis script set
  - travis_retry git clone --depth 1 $GRAVIS_REPO $GRAVIS
  # Install the JDK you configured in the $JDK environment variable
  # Never use travis_retry: hides failures. travis_retry is used internally where possible.
  - source $GRAVIS/install-jdk
  # Install Java 8 and Java 11
  - jabba install $JDK11
  - jabba install $JDK8

# Publish a new version on tag push
deploy:
  provider: script
  script: scripts/travis/publish-tag.sh
  on:
    tags: true
  # Without this, build artifacts will be cleaned up before deployment
  skip_cleanup: true

# Send email notifications to the user associated with a tag deployment
notifications:
  email:
    if: tag IS present
    on_failure: always
    on_success: always
