{
  "hashingAlgorithm": "multiProbe",
  "boundedLoadBalancingFactor": 1.25,
  "clients": [
    {
      "number": 5,
      "arrival": {
        "minInterval": 2,
        "maxInterval": 4,
        "randomStrategy": "UNIFORM"
      },
      "requests": [
        {
          "id": 15,
          "number": 20,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        },
        {
          "number": 200,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        }
      ]
    },
    {
      "number": 5,
      "arrival": {
        "minInterval": 2,
        "maxInterval": 4,
        "randomStrategy": "UNIFORM"
      },
      "requests": [
        {
          "id": 30,
          "number": 20,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        },
        {
          "number": 200,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        }
      ]
    },
    {
      "number": 5,
      "arrival": {
        "minInterval": 2,
        "maxInterval": 4,
        "randomStrategy": "UNIFORM"
      },
      "requests": [
        {
          "id": 42,
          "number": 60,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        },
        {
          "number": 200,
          "minLatency": 10,
          "maxLatency": 20,
          "randomStrategy": "GAUSSIAN"
        }
      ]
    }
  ],
  "servers": [
    {
      "number": 1,
      "points": 5
    },
    {
      "number": 7,
      "points": 100
    }
  ],
  "shuffleRequests": true,
  "serverCapacity": 200
}