<nav class="dark-grey" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">Rest.li</a>
      <ul class="right hide-on-med-and-down">
        {% for item in site.data.header_navigation.items %}
        <li>
          <a href="{{ item.url }}" {% if item.url == page.url %}class="active"{% endif %}>
            {{ item.page }}
          </a>
        </li>
        {% endfor %}
          <li>
            <div class="center row" >
              <div class="col s12 ">
                <div class="row">
                  <div class="input-field col s6 s12 min">
                      <i id="search-txt" class="material-icons prefix">search</i>
                      <input type="text" id="search-input">
                    </div>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <a id="github-menu" href="http://github.com/linkedin/rest.li/" >
                   <i class="fa fa-github"></i>
                </a>
          </li>
          </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
