#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#macro(doc $doc)
  #if($doc)
  /**
    #foreach($line in $util.escapeJavaDocString($doc))
   * $line
    #end
   */
  #end
#end

#macro(optionalParamClass $method)
  #if($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0)
    #set($className = "${util.restMethodToClassPrefix($method.method)}OptionalParameters")

    public static class $className {
      #foreach($param in $method.optionalParams)
        private $param.paramClassDisplayName $param.paramName;
        #doc($param.schema.doc)
        public $className set${param.paramNameCaps}($param.paramClassDisplayName $param.paramName) {
          this.$param.paramName = $param.paramName;
          return this;
        }
      #end
      #foreach($param in $method.supportedProjectionParams)
        private MaskMap $param.paramName;
        public $className with${param.methodName}(
            Function<${param.paramClassDisplayName}.ProjectionMask, ${param.paramClassDisplayName}.ProjectionMask> ${param.paramName}Handler) {
          this.$param.paramName = ${param.paramName}Handler.apply(${param.paramClassDisplayName}.createMask());
          return this;
        }
      #end
    }
  #end
#end


#macro(actionOptParamClass $method)
  #if($method.hasActionParams())
    #set($className = "${util.nameCapsCase($method.name)}ActionOptionalParameters")

    public static class $className {
      private final Map<FieldDef<?>, Object> _actionParams = new HashMap<FieldDef<?>, Object>($method.getParameters().size());
      #foreach($param in $method.getOptionalParameters())
        private $param.paramClassDisplayName $param.paramName;
      #end

      #foreach($param in $method.getOptionalParameters())
        #doc($param.schema.doc)
        public $className set${param.paramNameCaps}($param.paramClassDisplayName $param.paramName) {
          this.$param.paramName = $param.paramName;
          _actionParams.put(_resourceSpec.getRequestMetadata("${method.name}").getFieldDef("$param.paramName"), $param.paramName);
          return this;
        }
        public $param.paramClassDisplayName get${param.paramNameCaps}() {
          return $param.paramName;
        }
      #end

      public Map<FieldDef<?>, Object> buildParametersMap()
      {
        return _actionParams;
      }
    }
  #end
#end

#macro(actionAllParamClass $method)
  #if($method.hasActionParams())
    #set($className = "${util.nameCapsCase($method.name)}ActionParameters")

    public static class $className {
      private final Map<FieldDef<?>, Object> _actionParams = new HashMap<FieldDef<?>, Object>($method.getParameters().size());
      #foreach($param in $method.parameters)
        private $param.paramClassDisplayName $param.paramName;
      #end

      #foreach($param in $method.parameters)
        #doc($param.schema.doc)
        public $className set${param.paramNameCaps}($param.paramClassDisplayName $param.paramName) {
          this.$param.paramName = $param.paramName;
          _actionParams.put(_resourceSpec.getRequestMetadata("${method.name}").getFieldDef("$param.paramName"), $param.paramName);
          return this;
        }
        public $param.paramClassDisplayName get${param.paramNameCaps}() {
          return $param.paramName;
        }
      #end

      public Map<FieldDef<?>, Object> buildParametersMap()
      {
        return _actionParams;
      }
    }
  #end
#end

#macro(methodParams $method $includeOptional)
  #set($hasOptionalParams = $includeOptional && ($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0))
  #foreach($param in $method.requiredParams)
    $param.paramClassDisplayName $param.paramName#if( $foreach.hasNext || $hasOptionalParams),#end
  #end
  #if($hasOptionalParams)
    Function<${util.restMethodToClassPrefix($method.method)}OptionalParameters, ${util.restMethodToClassPrefix($method.method)}OptionalParameters> optionalParamsProvider
  #end
#end

#macro(optionalMethodCallArgs $method)
  #foreach($param in $method.requiredParams)
    $param.paramName#if( $foreach.hasNext || $method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0),#end
  #end
  #if(($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0))
    Function.identity()
  #end
#end

#macro(pagingParams $method)
  #if($method.schema.isPagingSupported())
    int start,
    int count
  #end
#end

#macro(fillQueryParams $method)
#**#
    #if ($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0)
      ${util.restMethodToClassPrefix($method.method)}OptionalParameters optionalParams = optionalParamsProvider.apply(
          new ${util.restMethodToClassPrefix($method.method)}OptionalParameters());
    #end
    #foreach($param in $method.requiredParams)
      queryParams.put("$param.paramName", $param.paramName);
      queryParamClasses.put("$param.paramName", ${param.paramClassName}.class);
    #end
    #foreach($param in $method.optionalParams)
      if (optionalParams.$param.paramName != null) {
        queryParams.put("$param.paramName", optionalParams.$param.paramName);
        queryParamClasses.put("$param.paramName", ${param.paramClassName}.class);
      }
    #end
    #foreach($param in $method.supportedProjectionParams)
      if (optionalParams.$param.paramName != null) {
        queryParams.put("$param.paramName", optionalParams.${param.paramName}.getDataMap());
      }
    #end
#end

#macro(paramsRequestMap $method)
#**#Map<String, Object> queryParams = #if($method.hasParams())new HashMap<>($method.getQueryParamMapSize());#else Collections.emptyMap();#end
    Map<String, Class<?>> queryParamClasses = #if($method.hasParams())new HashMap<>($method.getQueryParamMapSize());#else Collections.emptyMap();#end
#**##fillQueryParams($method)
#end

#macro(returnEntityParam $value)
#**#queryParams.put(RestConstants.RETURN_ENTITY_PARAM, $value);
    queryParamClasses.put(RestConstants.RETURN_ENTITY_PARAM, Boolean.class);
#end

#macro(subResourceInterface $spec)
#**#
    #if(${spec.namespace.equals($spec.parentNamespace)})
    ${spec.className} ${util.nameCamelCase($spec.className)}Of(#if(${spec.diffPathKey}) ${spec.parent.keyClassName} ${spec.diffPathKey}#end); // TODO: handle complex Key
    public interface ${spec.className} {
#foreach($subSpec in $spec.childSubResourceSpecs)
      #**##subResourceInterface($subSpec)
#end
    }
    #else
    ${spec.bindingName} ${util.nameCamelCase($spec.className)}Of(#if(${spec.diffPathKey})${spec.parent.keyClassName} ${spec.diffPathKey}#end); // TODO: handle complex Key
    #end
#end