---
layout: default
---

  <div class="section no-pad-bot dark-grey lighten-1" id="index-banner">
    <div class="container" style="margin-top:10px;">

        <h1 class="home row center col s12" >Rest.li</h1> 
        <h2 style="color:#fff;" class="home row center col s12 light">{{ content }}</h2>
        

          <div class="row center" style="margin-top:0px">
              <a class='btn-large dark-grey' href='/rest.li/get_started/quick_start' data-activates='dropdown1'>Get Started</a>
            </div>  
      <br><br>

    </div>
  </div>


  <div style="margin-top:30px; margin-bottom:30px">
  <div class="container last-post">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="home center dark-blue-text"><i class="material-icons" style="font-size:2.5rem">settings</i></h2>
            <h5 class="home center">Simple Asynchronous APIs for writing non-blocking client and server code</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="home center dark-blue-text"><i class="material-icons" style="font-size:2.5rem">group</i></h2>
            <h5 class="home center">Type-safe development using generated data and client bindings</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="home center dark-blue-text"><i class="material-icons" style="font-size:2.5rem">merge_type</i></h2>
            <h5 class="home center">Optional Dynamic Discovery subsystem that adds client side load balancing and fault tolerance</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
      
    <!-- </div> -->
    <div class="row">
      <div class="divider col s8 offset-s2"></div>
        <!-- <hr class="col s8 offset-s2"/> -->
    </div>
    
    
    <!-- style="background: #ddd" -->
    <div >
      <div class="container ">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="home center "><i class="material-icons" style="font-size:2.5rem">done</i></h2>
                  <h5 class="home center">Backward compatibility checking to ensure all API changes are safe</h5>
                </div>
              </div>
      
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="home center"><i class="material-icons" style="font-size:2.5rem">dehaze</i></h2>
                  <h5 class="home center">Support for batch operations, partial updates and projections</h5>
                </div>
              </div>
      
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="home center dark-blue-text"><i class="material-icons" style="font-size:2.5rem">info_outline</i></h2>
                  <h5 class="home center">Web UI for browsing and searching a catalog of Rest.li APIs</h5>
                </div>
              </div>
            </div>
          </div>
   
      </div>
    </div>
  </div>

  