
<div class="row">

    <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
      <!-- Grey navigation panel

            This content will be:
        3-columns-wide on large screens,
        4-columns-wide on medium screens,
        12-columns-wide on small screens  -->

    </div>

    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
      <!-- Teal page content

            This content will be:
        9-columns-wide on large screens,
        8-columns-wide on medium screens,
        12-columns-wide on small screens  -->
        {{ content }}

    </div>

  </div>