#container {
  margin: auto;
  min-width: 600px;
  width: 75%;
}

#nav {
  font: 11pt "Trebuchet MS", Verdana, Arial, Helvetica,
  sans-serif;
  float: right;
}

#body {
  font: 12pt "Trebuchet MS", Verdana, Arial, Helvetica,
  sans-serif;
  clear: both;
  border-top: 1px solid #3A4856;
}

#footer {
  font: 12pt "Trebuchet MS", Verdana, Arial, Helvetica,
  sans-serif;
  clear: both;
}

ul.nobullet {
  list-style-image: none;
  list-style: none;
}

#nav ul li {
  margin: 0;
  list-style-image: none;
  list-style: none;
  display: inline;
  margin-right: 1.3em;
}

dt {
  font-weight: bold;
}

dd {
  background:none no-repeat left top;
  padding-left: 20px;
}

dd.method-info-box {
  background: #F0F0F0;
  border: 1px dashed black;
  padding: 12px;
}

dl.methods dd {
  margin-bottom: 20px;
}

#footer {
  border-top: 1px solid #3A4856;
}

table {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}

table a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}

table a:visited {color: #777;}

table a:hover {color: #000;}

table caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

table thead th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: left; font-weight: bold;}

table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

table tbody {border-bottom: 1px solid #EAECEE;}

table tbody td, table tbody th {padding: 10px; text-align: left;}

table tbody tr {background: #F3F5F7;}

table tbody tr.odd {background: #F0F2F4;}

table tbody  tr:hover {background: #EAECEE; color: #111;}

table tfoot td, table tfoot th, table tfoot tr {text-align: left; font: 12pt  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}


/* Code Viewer */

/* START prettify.css */
/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

/* END prettify.css */

pre {
white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
white-space: -pre-wrap; /* Opera 4 - 6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
word-wrap: break-word; /* IE 5.5+ */
}

pre.prettyprint {
  background-color  : #f8f8f8;
  font-size         : 13px;
  padding           : 5px;
  width             : 98%;
  border            : 1px dashed #999999;
  line-height       : 14px;
  clear:both;
}

/* Drop-down menu styling */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font: 12pt  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", monospace;
  border: 1px dashed black;
}

.dropdown span.dropdown-btn {
  cursor: pointer;
  color: #3A4856;
  text-decoration: none;
  border-bottom: 1px solid #C6C8CB;
}

.dropdown span.dropdown-btn:hover {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
