<html>
<head>
  <title>Data Schemas</title>
  <style type="text/css">
    #include("vmTemplates/_doc.css")
  </style>
</head>
<body>
  <div id="container">

  #parse("vmTemplates/_nav.vm")

  <div id="body">
    <h2>Data Schemas</h2>

    <ul>
      #foreach ($dataModelName in $dataModels.keySet())
        <li><a href="$docBaseUri/data/$dataModelName">$dataModelName</a></li>
      #end
    </ul>
  </div>

  #include("vmTemplates/_footer.html")

  </div>
</body>
</html>
