<html>
<head>
  <title>Rest.li API Documentation</title>
  <style type="text/css">
    #include("vmTemplates/_doc.css")
  </style>
</head>
<body>
  <div id="container">

  #parse("vmTemplates/_nav.vm")

  <div id="body">
    <h1>Rest.li documentation</h1>
    <h2>Resources</h2>

    <ul class="nobullet">
      #foreach($resourceEntry in $resourceSchemas.entrySet())
        <li><a href="$docBaseUri/rest/$resourceEntry.key">
          #if ($resourceEntry.value.namespace) ${resourceEntry.value.namespace}.#end$resourceEntry.key</a></li>
      #end
    </ul>

    <h2>Data Models</h2>

    <ul class="nobullet">
      #foreach($dataModelName in $dataModels.keySet())
        <li><a href="$docBaseUri/data/$dataModelName">$dataModelName</a></li>
      #end
    </ul>
  </div>

  #include("vmTemplates/_footer.html")

  </div>
</body>
</html>
