<html>
<head>
  <title>Resource::$resource.name</title>
  <style type="text/css">
    #include("vmTemplates/_doc.css")
  </style>
  <script type="application/javascript">
    #include("vmTemplates/_prettify.js")
  </script>
</head>
<body onload="prettyPrint()">
  <div id="container">

  #parse("vmTemplates/_nav.vm")

  <div id="body">
    <h1>
      $resourceFullName Resource
    </h1>

    <dl>
      #if ($resource.doc)
        <p>
          <dt>Documentation</dt>
          <dd>$resource.doc</dd>
        </p>
      #end

      <dt>Resource Type</dt>
      <dd>$resourceType</dd>
      #if ($resourceType == "collection")
        <dt>Key</dt>
        #set ($identifier = $resource.collection.identifier)
        #if ($identifier.params)
          #set ($identifierType = "<a href=$docBaseUri/data/$identifier.type>$identifier.type</a>")
          #set ($identifierParams = "<dd><span style='font-family: monospace'>Parameter schema: <a href=$docBaseUri/data/$identifier.params>$identifier.params</a></span></dd>")
        #else
          #set ($identifierType = $identifier.type)
          #set ($identifierParams = "")
        #end
        <dd><span style="font-family: monospace">$identifier.name: $identifierType</span></dd>
        $identifierParams
      #elseif ($resourceType == "association")
        #set ($assocKeyMap = {})
        <dt>Keys</dt>
        #foreach ($assocKey in $resource.association.assocKeys)
          <dd><span style="font-family: monospace">$assocKey.name: $assocKey.type</span></dd>
          #set ($discard = $assocKeyMap.put($assocKey.name, $assocKey.type))
        #end
      #end
      #if ($resource.hasSchema())
        <dt>Item Type</dt>
        <dd><a href="$docBaseUri/data/$resource.schema">$resource.schema</a></dd>
      #end
      #if ($subResources)
        <dt>Subresources</dt>
        #foreach ($subResource in $subResources)
          <dd>
            <a href="$resourceName.$subResource.name">$resourceName.$subResource.name</a>
          </dd>
        #end
      #end
      #if (!$relatedSchemas.isEmpty())
        <dt>Related Data Schemas</dt>
        #foreach ($recordDataSchema in $relatedSchemas)
          <dd><a href="$docBaseUri/data/$recordDataSchema.fullName">$recordDataSchema.fullName</a></dd>
        #end
      #end
    </dl>

    #if (!$restMethods.isEmpty())
    <h2>REST Methods</h2>

    <table>
     <thead>
       <tr>
         <th class="nobg">Method</th>
         <th scope="col">Example Path</th>
         <th scope="col">Doc</th>
       </tr>
     </thead>
     <tbody>
       #foreach ($methodDocView in $restMethods)
       <tr>
         <th scope="row">$methodDocView.restMethodSchema.method</th>
         <td style="font-family: monospace">#if ($methodDocView.capture) $serverNodeUri$methodDocView.capture.request.URI #end</td>
         <td>$!methodDocView.doc</td>
       </tr>
       #end
     </tbody>
    </table>
    #end

    #if (!$finders.isEmpty())
    <h2>Finders</h2>

    <dl class="methods">
      #foreach ($finder in $finders)
        #set ($finderSchema = $finder.finderSchema)
        <dt>$finderSchema.name</dt>
        <p>$!finderSchema.doc</p>
          #if ($finderSchema.assocKeys)
            <dd style="background: #F0F0F0; border: 1px dashed black; padding: 12px;">
              <dl>
                <dt>AssocKeys</dt>
                <dd style="font-family: monospace;">
                  <ul class="nobullet">
                    #foreach ($assocKeyName in $finderSchema.assocKeys)
                      <li>
                        $assocKeyName: $assocKeyMap.get($assocKeyName)
                      </li>
                    #end
                  </ul>
                </dd>
              </dl>
            </dd>
          #end
          #if ($finderSchema.parameters)
            <dd style="background: #F0F0F0; border: 1px dashed black; padding: 12px;">
              <dl>
                <dt>Parameters</dt>
                <dd style="font-family: monospace;">
                  <ul class="nobullet">
                    #foreach ($param in $finderSchema.parameters)
                      <li>
                        $param.name:
                        #if ($relatedSchemas.containsKey($param.type))
                          <a href="$docBaseUri/data/$param.type">$param.type</a>
                        #else
                          $param.type
                        #end
                        #if ($param.hasItems())
                          &lt;
                          #if ($relatedSchemas.containsKey($param.items))
                            <a href="$docBaseUri/data/$param.items">$param.items</a>
                          #else
                            $param.items
                          #end
                          &gt;
                        #end
                      </li>
                    #end
                  </ul>
                </dd>
              </dl>
            </dd>
          #end
        <dd><pre class="prettyprint">curl -v -X GET $serverNodeUri$finder.capture.request.URI</pre></dd>
        <dd>
          <pre class="prettyprint">
GET $serverNodeUri$finder.capture.request.URI HTTP/1.1

HTTP/1.1 $finder.capture.response.status OK
#foreach ($headerName in $finder.capture.response.headers.keySet())
$headerName: $finder.capture.response.headers.get($headerName)
#end

$finder.prettyPrintResponseEntity
          </pre>
        </dd>
      #end
    </dl>
    #end

    #if (!$actions.isEmpty())
    <h2>Actions</h2>

    <dl class="methods">
      #foreach ($action in $actions)
        #set ($actionSchema = $action.actionSchema)
        <dt>$actionSchema.name</dt>
        <p>$!actionSchema.doc</p>
        #if ($actionSchema.parameters || $actionSchema.hasReturns() || $actionSchema.hasThrows())
          <dd style="background: #F0F0F0; border: 1px dashed black; padding: 12px;">
            <dl>
              #if ($actionSchema.parameters)
                <dt>Parameters</dt>
                <dd style="font-family: monospace;">
                  <ul class="nobullet">
                    #foreach ($param in $actionSchema.parameters)
                      <li>
                        $param.name:
                        #if ($relatedSchemas.containsKey($param.type))
                          <a href="$docBaseUri/data/$param.type">$param.type</a>
                        #else
                          $param.type
                        #end
                        #if ($param.hasItems())
                          &lt;
                          #if ($relatedSchemas.containsKey($param.items))
                            <a href="$docBaseUri/data/$param.items">$param.items</a>
                          #else
                            $param.items
                          #end
                          &gt;
                        #end
                      </li>
                    #end
                  </ul>
                </dd>
              #end
              #if ($actionSchema.hasReturns())
                <dt>Returns</dt>
                <dd style="font-family: monospace;">
                  #if ($relatedSchemas.containsKey($actionSchema.returns))
                    <a href="$docBaseUri/data/$actionSchema.returns">$actionSchema.returns</a>
                  #else
                    $actionSchema.returns
                  #end
                </dd>
              #end
              #if ($actionSchema.hasThrows())
                <dt>Exceptions</dt>
                <dd style="font-family: monospace;">
                  #foreach ($error in $actionSchema.throws)
                    <a href="$docBaseUri/data/$error">$error</a>
                  #end
                </dd>
              #end
            </dl>
          </dd>
        #end
        #if ($action.capture)
          <dd>
            <pre class="prettyprint">
curl -v -X POST $serverNodeUri$action.capture.request.URI #if ($action.prettyPrintRequestEntity)-d @request_body #end
#if ($action.prettyPrintRequestEntity)


request_body file:
$action.prettyPrintRequestEntity
#end
            </pre>
          </dd>
          <dd>
          <pre class="prettyprint">
GET $serverNodeUri$action.capture.request.URI HTTP/1.1

HTTP/1.1 $action.capture.response.status OK
#foreach ($headerName in $action.capture.response.headers.keySet())
$headerName: $action.capture.response.headers.get($headerName)
#end
#if ($action.prettyPrintResponseEntity)

$action.prettyPrintResponseEntity
#end
          </pre>
          </dd>
        #end
      #end
    </dl>
    #end
  </div>

  #include("vmTemplates/_footer.html")

  </div>
</body>
</html>
