<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p [%c{1}] %m%n" />
    </layout>
  </appender>

  <!-- We intentionally raise the logging levels for these classes since there is mostly white noise here -->
  <logger name="com.linkedin.r2.transport.http.client.HttpNettyClient">
    <level value="ERROR"/>
  </logger>
  <logger name="com.linkedin.r2.transport.http.client.AsyncPoolImpl">
    <level value="ERROR"/>
  </logger>
  <logger name="com.linkedin.restli.internal.server.model.RestLiAnnotationReader">
    <level value="ERROR"/>
  </logger>

  <!-- We want to lower the log level for SimpleLoggingFilter so we can see request/response information which is
  printed at DEBUG -->
  <logger name="com.linkedin.r2.filter.logging.SimpleLoggingFilter">
    <level value="DEBUG"/>
  </logger>

  <!-- We default to INFO -->
  <root>
    <priority value="INFO"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

</log4j:configuration>
