#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#if ($spec.resource.namespace)
package $spec.resource.namespace;
#end

import com.linkedin.data.DataMap;
import com.linkedin.data.template.DataTemplateUtil;
import com.linkedin.data.template.DynamicRecordMetadata;
import com.linkedin.data.template.FieldDef;
import com.linkedin.parseq.Engine;
import com.linkedin.parseq.Task;
import com.linkedin.parseq.function.Success;
import com.linkedin.restli.client.ParSeqRestliClient;
import com.linkedin.restli.client.Response;
import com.linkedin.restli.client.RestliRequestOptions;
import com.linkedin.restli.common.FluentClientUtils;
import com.linkedin.restli.common.ResourceMethod;
import com.linkedin.restli.common.ResourceSpec;
import com.linkedin.restli.common.ResourceSpecImpl;
import com.linkedin.restli.common.RestConstants;
import com.linkedin.restli.common.TypeSpec;
#foreach($import in $spec.importsForRestMethods)
  import ${import};
#end
import ${spec.entityClass.fullName};

import java.util.ArrayList;
import java.util.Collection;
import java.util.Collections;
import java.util.EnumSet;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.concurrent.CompletionStage;
import java.util.concurrent.CompletableFuture;
import javax.annotation.Generated;

@Generated("Generated from $spec.sourceIdlName")
public class $spec.className {
  private final static String ORIGINAL_RESOURCE_PATH = "$util.getResourcePath($spec.resource.path)";
  private static ResourceSpec _resourceSpec;

  static {
    HashMap<String, DynamicRecordMetadata> requestMetadataMap = new HashMap<String, DynamicRecordMetadata>();
    #foreach($action in $spec.actions)
      ArrayList<FieldDef<?>> ${action.name}Params = new ArrayList<FieldDef<?>>();
      #foreach($actionParam in $action.parameters)
        ${action.name}Params.add(new FieldDef<${actionParam.paramClassName}>("${actionParam.paramName}", ${actionParam.paramClassName}.class, DataTemplateUtil.getSchema(${actionParam.paramClassName}.class)));
      #end
      requestMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", ${action.name}Params));
    #end

    HashMap<String, DynamicRecordMetadata> responseMetadataMap=new HashMap<String, DynamicRecordMetadata>();
    #foreach($action in $spec.actions)
      #if($action.schema.hasReturns())
        responseMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", Collections.singletonList(new FieldDef<${action.valueClassName}>("value", ${action.valueClassName}.class, DataTemplateUtil.getSchema(${action.valueClassName}.class)))));
      #else
        responseMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", Collections.emptyList()));
      #end
    #end
    _resourceSpec = new ResourceSpecImpl(
        #if($spec.restMethods.size() > 0)
          EnumSet.of(
              #foreach($method in $spec.restMethods)
              ResourceMethod.${method.method.toUpperCase()}#if($foreach.hasNext),#end
              #end
          ),
        #else
          EnumSet.noneOf(ResourceMethod.class),
        #end
        requestMetadataMap,
        responseMetadataMap,
        ${spec.keyClassName}.class,
        null,
        null,
        ${spec.entityClassName}.class,
        Collections.emptyMap());
  }

  private final ParSeqRestliClient _client;
  private final Engine _engine;

  #doc( $spec.resource.doc "  ")
  public ${spec.className}(ParSeqRestliClient client, Engine engine) {
    _client = client;
    _engine = engine;
  }
  // CRUD methods
  #foreach($method in $spec.restMethods)
    #parse("apiVmTemplates/rest.${method.method}.vm")
  #end
}
