#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#if ($spec.resource.namespace)
package $spec.resource.namespace;
#end

import com.linkedin.data.DataMap;
import com.linkedin.data.schema.MaskMap;
import com.linkedin.data.template.DataTemplateUtil;
import com.linkedin.data.template.DynamicRecordMetadata;
import com.linkedin.data.template.FieldDef;
import com.linkedin.parseq.Engine;
import com.linkedin.parseq.Task;
import com.linkedin.parseq.function.Success;
//import com.linkedin.restli.client.ParSeqBasedCompletionStageFactory;
import com.linkedin.restli.client.ParSeqRestliClient;
import com.linkedin.restli.client.Response;
import com.linkedin.restli.client.RestliRequestOptions;
import com.linkedin.restli.client.util.FluentClientUtils;
import com.linkedin.restli.client.AbstractRequestBuilder;
import com.linkedin.restli.common.ResourceMethod;
import com.linkedin.restli.common.ResourceSpec;
import com.linkedin.restli.common.ResourceSpecImpl;
import com.linkedin.restli.common.RestConstants;
import com.linkedin.restli.common.TypeSpec;
#foreach($import in $spec.importsForRestMethods)
  import ${import};
#end

import java.util.ArrayList;
import java.util.Collection;
import java.util.Collections;
import java.util.EnumSet;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.concurrent.CompletionStage;
import java.util.concurrent.CompletableFuture;
import java.util.function.Function;
import javax.annotation.Generated;

@SuppressWarnings({"rawtypes"})
@Generated("Generated from $spec.sourceIdlName")
public class ${spec.className}${class_name_suffix} implements ${spec.toImplementInterfaceName} {
  private final static String ORIGINAL_RESOURCE_PATH = "$util.getResourcePath($spec.resource.path)";
  private static ResourceSpec _resourceSpec;
  #if(${spec.getPathKeys().size()} > 0)
  private Map<String, Object> _pathKeyMap = new HashMap<>();
  #end
  // private ParSeqBasedCompletionStageFactory _completionStageFactory;

  static {
    HashMap<String, DynamicRecordMetadata> requestMetadataMap = new HashMap<String, DynamicRecordMetadata>();
    #foreach($action in $spec.actions)
      ArrayList<FieldDef<?>> ${action.name}Params = new ArrayList<FieldDef<?>>();
      #foreach($actionParam in $action.parameters)
        ${action.name}Params.add(new FieldDef<${actionParam.paramClassName}>("${actionParam.paramName}", ${actionParam.paramClassName}.class, DataTemplateUtil.getSchema(${actionParam.paramClassName}.class)));
      #end
      requestMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", ${action.name}Params));
    #end

    HashMap<String, DynamicRecordMetadata> responseMetadataMap=new HashMap<String, DynamicRecordMetadata>();
    #foreach($action in $spec.actions)
      #if($action.schema.hasReturns())
        responseMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", Collections.singletonList(new FieldDef<${action.valueClassName}>("value", ${action.valueClassName}.class, DataTemplateUtil.getSchema(${action.valueClassName}.class)))));
      #else
        responseMetadataMap.put("${action.name}", new DynamicRecordMetadata("${action.name}", Collections.emptyList()));
      #end
    #end

    #if (${spec.getResource().hasSimple()})
    _resourceSpec = new ResourceSpecImpl(
        #if($spec.restMethods.size() > 0)
          EnumSet.of(
              #foreach($method in $spec.restMethods)
              ResourceMethod.${method.method.toUpperCase()}#if($foreach.hasNext),#end
              #end
          ),
        #else
          EnumSet.noneOf(ResourceMethod.class),
        #end
        requestMetadataMap,
        responseMetadataMap,
        ${spec.entityClassName}.class
        );
    #elseif(${spec.getResource().hasCollection()})
    _resourceSpec = new ResourceSpecImpl(
        #if($spec.restMethods.size() > 0)
          EnumSet.of(
              #foreach($method in $spec.restMethods)
              ResourceMethod.${method.method.toUpperCase()}#if($foreach.hasNext),#end
              #end
          ),
        #else
          EnumSet.noneOf(ResourceMethod.class),
        #end
        requestMetadataMap,
        responseMetadataMap,
        ${spec.getKeyClassName(false)}.class,
        null,
        null,
        ${spec.entityClassName}.class,
        Collections.emptyMap());
    #elseif(${spec.getResource().hasAssociation()})
    HashMap<String, CompoundKey.TypeInfo> keyParts = new HashMap<String, CompoundKey.TypeInfo>();
      #foreach($assoc_key in ${spec.getCompoundKeySpec().getAssocKeySpecs()})
    keyParts.put("${assoc_key.name}", new CompoundKey.TypeInfo(${assoc_key.bindingType}.class, ${assoc_key.declaredType}.class));
      #end
    _resourceSpec = new ResourceSpecImpl(
        #if($spec.restMethods.size() > 0)
          EnumSet.of(
              #foreach($method in $spec.restMethods)
              ResourceMethod.${method.method.toUpperCase()}#if($foreach.hasNext),#end
              #end
          ),
        #else
          EnumSet.noneOf(ResourceMethod.class),
        #end
        requestMetadataMap,
        responseMetadataMap,
        CompoundKey.class,
        null,
        null,
        ${spec.entityClassName}.class,
        keyParts
        );
    #end
  }

  private final ParSeqRestliClient _client;
  private final Engine _engine;

  #doc( $spec.resource.doc "  ")
  public ${spec.className}${class_name_suffix}(ParSeqRestliClient client, Engine engine) {
    _client = client;
    _engine = engine;
    // _completionStageFactory = new ParSeqBasedCompletionStageFactory(engine);
  }

  ## Merge another pathKeyMap
  #if(${spec.getPathKeys().size()}> 0)
  public ${spec.className}${class_name_suffix} pathKeys(Map<String, Object> pathKeyMap)
  {
    _pathKeyMap.putAll(pathKeyMap);
    return this;
  }
  #end

  ## PathKey binding method
  #foreach($pathKey in ${spec.getPathKeys()})
  public ${spec.className}${class_name_suffix} with${util.nameCapsCase(${pathKey})}(${spec.getPathKeyTypes().get($pathKey)} $pathKey)
  {
    _pathKeyMap.put("$pathKey", $pathKey);
    return this;
  }
  #end

  ## generate impl class for subResources
  #foreach($subSpec in $spec.childSubResourceSpecs)
  @Override
  public #if(${subSpec.namespace.equals($subSpec.parentNamespace)})${subSpec.className}#else${subSpec.bindingName}#end ${util.nameCamelCase($subSpec.className)}Of(#if(${subSpec.diffPathKey})${subSpec.parent.keyClassName} ${subSpec.diffPathKey}#end)
  {
    return new #if(${subSpec.namespace.equals($subSpec.parentNamespace)})${subSpec.className}#else${subSpec.bindingName}#end${class_name_suffix}(_client, _engine)#if(${spec.getPathKeys().size()} > 0).pathKeys(_pathKeyMap)#end
               #if(${subSpec.diffPathKey})
               .with${util.nameCapsCase(${subSpec.diffPathKey})}(${subSpec.diffPathKey});
               #else
               ;
               #end
  }
  #end

  // action no: ${spec.actions.size()}
  #parse("apiVmTemplates/action.vm")
  // CRUD methods
  #foreach($method in $spec.restMethods)
    #parse("apiVmTemplates/rest.${method.method}.vm")
  #end




  ## Add association key generation stub
  #if(${spec.getResource().hasAssociation()})
  // TODO: CompoundKey may eventually need to be exposed to the resource interface
    public static class Key
        extends CompoundKey
    {
        public Key() {
        }

        #foreach($assoc_key in ${spec.getCompoundKeySpec().getAssocKeySpecs()})
        public ${spec.className}${class_name_suffix}.Key set$util.nameCapsCase($assoc_key.name)(${assoc_key.bindingType} ${assoc_key.name}) {
            append("${assoc_key.name}", ${assoc_key.name}, _resourceSpec.getKeyParts().get("${assoc_key.name}"));
            return this;
        }

        public ${assoc_key.bindingType} get${util.nameCapsCase($assoc_key.name)} () {
            return ((${assoc_key.bindingType}) getPart("${assoc_key.name}"));
        }
        #end
    }
  #end

  #if(${spec.getPathKeys().size()} > 0)
  protected Map<String, Object> buildReadOnlyPathKeys()
  {
    return AbstractRequestBuilder.getReadOnlyPathKeys(_pathKeyMap);
  }
  #else
  protected Map<String, Object> buildReadOnlyPathKeys()
  {
    return Collections.emptyMap();
  }
  #end
}
