#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
  #doc($method.schema.doc)
  public CompletionStage<List<CreateIdEntityStatus<${spec.keyClassName}, ${spec.entityClassName}>>> batchCreateAndGet(
      List<${spec.entityClassName}> entities#if( $method.hasParams()),#end
      #**##methodParams($method)##
      ) {
    Map<String, Object> queryParams = new HashMap<>($method.getQueryParamMapSize());
    Map<String, Class<?>> queryParamClasses = new HashMap<>($method.getQueryParamMapSize());
    #fillQueryParams($method)
    #**##returnEntityParam("true")
    @SuppressWarnings("unchecked")
    BatchCreateIdEntityDecoder<${spec.keyClassName}, ${spec.entityClassName}> idEntityResponseDecoder = new BatchCreateIdEntityDecoder<>(
        (TypeSpec<${spec.keyClassName}>) _resourceSpec.getKeyType(),
        (TypeSpec<${spec.entityClassName}>) _resourceSpec.getValueType(),
        _resourceSpec.getKeyParts(),
        _resourceSpec.getComplexKeyType());
    CollectionRequest<${spec.entityClassName}> input = FluentClientUtils.buildBatchEntityInputs(entities, ${spec.entityClassName}.class);

    BatchCreateIdEntityRequest<${spec.keyClassName}, ${spec.entityClassName}> request = new BatchCreateIdEntityRequest<>(
        Collections.emptyMap(),
        Collections.emptyList(),
        idEntityResponseDecoder,
        input,
        _resourceSpec,
        queryParams,
        queryParamClasses,
        ORIGINAL_RESOURCE_PATH,
        Collections.emptyMap(),
        RestliRequestOptions.DEFAULT_OPTIONS,
        ## Streaming attachments
        null);
    CompletableFuture<List<CreateIdEntityStatus<${spec.keyClassName}, ${spec.entityClassName}>>> result = new CompletableFuture<>();
    Task<Void> responseTask = _client.createTask(request).transform("Task to completion stage",
        responseTry -> {
          if (responseTry.isFailed()) {
            result.completeExceptionally(responseTry.getError());
          } else {
            Response<BatchCreateIdEntityResponse<${spec.keyClassName}, ${spec.entityClassName}>> response = responseTry.get();
            if (response.hasError()) {
              result.completeExceptionally(response.getError());
            } else {
              result.complete(response.getEntity().getElements());
            }
          }
          return Success.of((Void) null);
        });
    _engine.run(responseTask);
    return result;
  }
  #optionalParamClass($method)