#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
  @SuppressWarnings("unchecked")
  private static final KeyValueRecordFactory<${spec.keyClassName}, ${spec.entityClassName}> UPDATE_VALUE_FACTORY = new KeyValueRecordFactory<${spec.keyClassName}, ${spec.entityClassName}>(
      (TypeSpec<${spec.keyClassName}>) _resourceSpec.getKeyType(),
      _resourceSpec.getComplexKeyType(),
      _resourceSpec.getKeyParts(),
      (TypeSpec<${spec.entityClassName}>) _resourceSpec.getValueType());

  #if($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0)
    #doc($method.schema.doc)
    public CompletionStage<Map<${spec.keyClassName}, UpdateStatus>> batchUpdate(
        Map<$spec.keyClassName, ${spec.entityClassName}> entities#if($method.requiredParams.size() > 0),#end
        #**##methodParams($method, false)##
      ) {
      return batchUpdate(entities,
          #**##optionalMethodCallArgs($method)##
      );
    }

    #doc($method.schema.doc)
    public CompletionStage<Map<${spec.keyClassName}, UpdateStatus>> batchUpdate(
        Map<$spec.keyClassName, ${spec.entityClassName}> entities,
        ExecutionGroup executionGroup#if($method.requiredParams.size() > 0),#end
        #**##methodParams($method, false)##
      ) {
      return batchUpdate(entities,
      executionGroup,
          #**##optionalMethodCallArgs($method)##
      );
    }
  #end

  #define($BatchUpdateCommon)
    Map<String, Object> queryParams = new HashMap<>($method.getQueryParamMapSize());
    Map<String, Class<?>> queryParamClasses = new HashMap<>($method.getQueryParamMapSize());
    #fillQueryParams($method)
    queryParams.put(RestConstants.QUERY_BATCH_IDS_PARAM, entities.keySet());
    CollectionRequest<KeyValueRecord<$spec.keyClassName, ${spec.entityClassName}>> inputs = FluentClientUtils.buildBatchKVInputs(
        entities, UPDATE_VALUE_FACTORY);
    BatchUpdateRequest<$spec.keyClassName, ${spec.entityClassName}> request = new BatchUpdateRequest<>(
        Collections.emptyMap(),
        Collections.emptyList(),
        inputs,
        queryParams,
        queryParamClasses,
        _resourceSpec,
        ORIGINAL_RESOURCE_PATH,
        buildReadOnlyPathKeys(),
        RestliRequestOptions.DEFAULT_OPTIONS,
        entities,
        null);
  #end

  #doc($method.schema.doc)
  public CompletionStage<Map<${spec.keyClassName}, UpdateStatus>> batchUpdate(
      Map<$spec.keyClassName, ${spec.entityClassName}> entities#if( $method.hasParams()),#end
      #**##methodParams($method, true)##
      ) {
$BatchUpdateCommon
    #**##makeRequestAndReturn(
      "Map<${spec.keyClassName}, UpdateStatus>",
      "BatchKVResponse<${spec.keyClassName}, UpdateStatus>",
      "resp.getEntity().getResults()",
      false
    )##
  }

  #doc($method.schema.doc)
  public CompletionStage<Map<${spec.keyClassName}, UpdateStatus>> batchUpdate(
      Map<$spec.keyClassName, ${spec.entityClassName}> entities,
      ExecutionGroup executionGroup#if( $method.hasParams()),#end
      #**##methodParams($method, true)##
      ) {
$BatchUpdateCommon
    #**##makeRequestAndReturn(
      "Map<${spec.keyClassName}, UpdateStatus>",
      "BatchKVResponse<${spec.keyClassName}, UpdateStatus>",
      "resp.getEntity().getResults()",
      true
    )##
  }
  #optionalParamClass($method)