#*
   Copyright (c) 2021 LinkedIn Corp.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
  #if($method.optionalParams.size() > 0 || $method.supportedProjectionParams.size() > 0)
    #doc($method.schema.doc)
    public CompletionStage<List<${spec.entityClassName}>> getAll(#methodParams($method, false)##
         ) {
      return getAll(#optionalMethodCallArgs($method)##
          );
    }

    #doc($method.schema.doc)
    public CompletionStage<List<${spec.entityClassName}>> getAll(
      ExecutionGroup executionGroup#if($method.requiredParams.size() > 0),#end
      #methodParams($method, false)##
         ) {
      return getAll(
        executionGroup,
        #optionalMethodCallArgs($method)##
          );
    }
  #end

  #define($GetAllCommon)
    #**##paramsRequestMap($method)##
    GetAllRequest<${spec.entityClassName}> request = new GetAllRequest<>(
        Collections.emptyMap(),
        Collections.emptyList(),
        ${spec.entityClassName}.class,
        _resourceSpec,
        queryParams,
        queryParamClasses,
        ORIGINAL_RESOURCE_PATH,
        buildReadOnlyPathKeys(),
        RestliRequestOptions.DEFAULT_OPTIONS,
        ## TODO AssocKey
        null);
  #end

  #doc($method.schema.doc)
  public CompletionStage<List<${spec.entityClassName}>> getAll(#methodParams($method, true)##
        ) {
$GetAllCommon
    #**##makeRequestAndReturn(
      "List<${spec.entityClassName}>",
      "CollectionResponse<${spec.entityClassName}>",
      "resp.getEntity().getElements()",
      false
    )##
  }

  #doc($method.schema.doc)
  public CompletionStage<List<${spec.entityClassName}>> getAll(
    ExecutionGroup executionGroup#if( $method.hasParams()),#end
    #methodParams($method, true)##
        ) {
$GetAllCommon
    #**##makeRequestAndReturn(
      "List<${spec.entityClassName}>",
      "CollectionResponse<${spec.entityClassName}>",
      "resp.getEntity().getElements()",
      true
    )##
  }
  #optionalParamClass($method)