<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <link href="{{ url_for('static', filename='docgen.css') }}" rel="stylesheet" type="text/css" >
  <title>REST Spec documentation generator</title>
  <style>
    .flash-error {
      color: #770000
    }
  </style>
</head>
<body>
{% for category, msg in get_flashed_messages(with_categories=true) %}
  <p class="flash-{{ category }}">{{ msg }}</p>
{% endfor %}

{% if rest_specs %}
<h1>REST specs currently in the system:</h1>
{% for spec in rest_specs %}
<UL>
  <LI>
    <a href="{{ url_for('read', spec_id=spec.name) }}">{{ spec.name }}</a>
  </LI>
</UL>
{% endfor %}
{% endif %}

{% if models %}
<h1>Models currently in the system:</h1>
{% for model in models %}
<UL>
  <LI>
    <a href="{{ url_for('read_model', model_id=model.name) }}">{{ model.name }}</a>
  </LI>
</UL>
{% endfor %}
{% endif %}

</body>
</html>