<html>
<head>
  {% from 'docutil.html' import code, avro_field, display_links %}
  <link href="{{ url_for('static', filename='docgen.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
  <a href="{{ url_for('index') }}">Home</a><br>
  <a href="{{ url_for('read_model_json', model_id=model.name) }}">View json</a><br>
  <h1>Record {{ code(model.name) }}</h1>
  <P>{% if model.doc %}{{ model.doc|join|safe }}<br>{% endif %}</p>
  {{ avro_field(model, display_record_header=False) }}
  {% if model.links %}
  <h2>Links</h2>
  <p>
    A {{ code(model.name) }} record may include the following links:
    {{ display_links(model.links) }}
  </p>
  {% endif %}
</body>
</html>
