name: Build and Test
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [8, 11]
    name: Java ${{ matrix.java }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          # Need to fetch 2 commits for the PR (base commit and head merge commit) so we can compute the diff
          fetch-depth: 2
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: gradle
      - run: ./.github/scripts/build.sh
